@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #FBF9FA;
  border-width: thick;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #FF885C;
  padding-top: 1em;
}

h2 {
  font-family: 'PT Serif', serif;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  color: #FF885C;
}

.logo-size {
  max-width: 10em;
}

.icon-big {
  max-width: 3em;
}
